.Hero {
background-color: #ffefe7;
height: 8rem;
display: flex;
align-items: center;
justify-content: center;
font-family: SpaceGroteskBold, serif;
color: #f50;
font-size: 4rem;

@media screen and (max-width: 700px) {
    font-size: 2rem;
    height: 5rem;
  }
}