.Hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffefe7;
  height: 8rem;
  font-family: SpaceGroteskBold, serif;
  font-size: 4rem;
  color: #f50;

  @media screen and (max-width: 700px) {
    height: 5rem;
    font-size: 2rem;
  }
}