.Profile {
  
  .profile-content-container {
    width: 85%;
    margin: 0 auto;
  }
  
  .welcome-user-text {
    position: relative;
    padding: 2rem 0;
    text-align: center;
    font-family: 'SpaceGroteskRegular', sans-serif;
  }

  .select-input {
    position: absolute;
    width: 10rem;
    bottom: 2rem;
  }
  
  .rated-restaurants-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
  }
  
  .rated-restauarant-container {
    width: 49%;
    min-width: 29rem;
  }

  .no-ratings-text {
    font-family: 'SpaceGroteskBold', sans-serif;
  }


  @media screen and (max-width: 1130px) {
    .rated-restaurants-container {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }

    .rated-restauarant-container {
      min-width: auto;
      width: 100%;
    }

  }

  @media screen and (max-width: 880px) {

    .welcome-user-text {
      padding: 1rem 0 0 0;
    }

    .select-input {
      position: relative;
      width: 100%;
      margin-top: 3rem;
    }

  }

  @media screen and (max-width: 600px) {

    .profile-content-container {
      width: 100%;
      padding: 0 1rem;
    }
  }

}


