.FoodOptions {
  width: 90%;
  margin: 1.5rem auto 0 auto;
  text-align: center;

  .heading-for-filtering-food {
    font-family: 'SpaceGroteskRegular', sans-serif;
  }

  .icon-arrow-down {
    font-size: 2rem;
    transition: transform 0.3s ease;
    cursor: pointer;
  }

  .arrow-down {
    transform: rotate(-180deg);
  }

  .random-link-wrapper {
    margin-top: 2rem;
  }
  
  .foodoptions-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .foodoptions-and-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .hide-foodoptions {
    display: none;
  }

  .outdoor-seating-checkbox {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  
  .btn-random {
    padding: 1rem;
    border-radius: 1rem;
  }
}

