.checkbox-wrapper {

  font-family: 'InterRegular', sans-serif;

  label {
    display: flex;
    align-items: center;
  }

  label input {
    appearance: none;
    -webkit-appearance: none;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 0.3rem;
    margin-right: 0.5rem;
    border: 0.15em solid var(--dark-orange);
    outline: none;
    cursor: pointer;
    background-color: white;
  }

  input.checked {
    position: relative;
  }

  input.checked::before {
    content: '\2713';
    font-size: .8rem;
    color: #fff;
    color: var(--dark-orange);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 0;
  }

  input[type="checkbox"]:disabled {
    border-color: #c0c0c0;
    background-color: #c0c0c0;
  }

  input[type="checkbox"]:disabled + span {
    color: #c0c0c0;
  }

  @media screen and (max-width: 700px) {
    label {
      display: flex;
      align-items: center;
      justify-content: center;
      /* flex-direction: column; */
    }

    label input {
      min-width: 1.2rem;
      min-height: 1.2rem;
      border-radius: 0.3rem;
      margin-right: 1rem;
    }

    .checkbox-label-text {
      /* width: 85%; */
      text-align: start;
    } 




  }

}